{% include 'header.html' %}

  <div class="container">
  <section class="hero bg-dark text-white text-center py-5 pb-5">
    <div class="container">
        <h1>Welcome to Vignan's Institute of Information Technology Entry Management System</h1>
        <p class="lead">Ensuring the safety and security of students, staff, and visitors.</p>
        <a href="{{url_for('safety')}}" class="btn btn-light mt-3">Learn More</a>
    </div>
</section>
</div>

  <div class="container pb-5">
    <div id="carouselExampleIndicators" class="carousel slide pt-5">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./static/images/vignan.jpeg" class="d-block w-100" alt="vignan">
    </div>
    <div class="carousel-item">
      <img src="./static/images/cisco.jpeg" class="d-block w-100" alt="cisco">
    </div>
    <div class="carousel-item">
      <img src="./static/images/clg.jpg" class="d-block w-100" alt="college">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
  </div>



 {% include 'footer.html' %}
