{% include 'header.html' %}
<div class="container">
    <div class="d-flex justify-content-between">

        <div class="card" style="width: 30%;">
  <div class="card-body">
    <h5 class="card-title"> Importance of College Safety</h5>
    <div class="card" style="width: 100%;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item"> A secure campus ensures a safe learning environment.</li>
    <li class="list-group-item">Proper visitor management helps prevent unauthorized access.</li>
    <li class="list-group-item">Emergency protocols reduce risks in unexpected situations.</li>
  </ul>
</div>
  </div>
</div>

<div class="card" style="width: 30%;">
  <div class="card-body">
    <h5 class="card-title">Key Security Measures at Our College</h5>
    <div class="card" style="width: 100%;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item"> Visitor Entry Approval: Visitors can only enter upon approval from the person they wish to meet.</li>
    <li class="list-group-item">24/7 Surveillance: The campus is monitored through CCTV cameras and security personnel.</li>
    <li class="list-group-item"> ID Verification: Every student and staff member must carry their ID card.</li>
  </ul>
</div>
  </div>
</div>



<div class="card" style="width: 30%;">
  <div class="card-body">
    <h5 class="card-title">Visitor Entry Guidelines</h5>
    <div class="card" style="width: 100%;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Mention the purpose of their visit.</li>
    <li class="list-group-item">Wait for approval from the person they wish to meet.</li>
    <li class="list-group-item">Follow college security rules while inside the campus.</li>
  </ul>
</div>
  </div>
</div>




</div>
{% include 'footer.html' %}