{% include "header.html" %}

<div class="container d-flex justify-content-center align-items-center mt-4">
    <form method="POST" action="{{ url_for('visitors_entry') }}" class="text-center" style="max-width: 360px; width: 100%;" novalidate>
        {{ form.hidden_tag() }}

        <h1 class="h3 mb-3 fw-normal">Please enter details</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}


        <div class="form-floating mb-3">
            {{ form.name(class="form-control", placeholder="name") }}
            <label for="name">Name</label>
            {% if form.name.errors %}
                <div class="text-danger">
                    {% for error in form.name.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="form-floating mb-3">
            {{ form.ph_no(class="form-control", placeholder="phone number") }}
            <label for="ph_no">Phone Number</label>
            {% if form.ph_no.errors %}
                <div class="text-danger">
                    {% for error in form.ph_no.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="form-floating mb-3">
            {{ form.email(class="form-control", placeholder="email") }}
            <label for="email">Email</label>
            {% if form.email.errors %}
                <div class="text-danger">
                    {% for error in form.email.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="form-floating mb-3">
            {{ form.faculty_name(class="form-control", placeholder="faculty_name") }}
            <label for="faculty_name">Faculty Name</label>
            {% if form.faculty_name.errors %}
                <div class="text-danger">
                    {% for error in form.faculty_name.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="form-floating mb-3">
            {{ form.faculty_dept(class="form-control", placeholder="faculty_name") }}
            <label for="faculty_dept">Faculty Department</label>
            {% if form.faculty_dept.errors %}
                <div class="text-danger">
                    {% for error in form.faculty_dept.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>


        <div class="form-floating mb-3">
            {{ form.reason(class="form-control", placeholder="email") }}
            <label for="reason">Reason</label>
            {% if form.reason.errors %}
                <div class="text-danger">
                    {% for error in form.reason.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>


        <button type="submit" class="btn btn-dark w-100 py-2">Submit</button>
    </form>
</div>

{% include "footer.html" %}
